.App {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.App-table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #8b4513 !important;
}

.App-table th,
.App-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-top: 40px;
}

.botao-sucesso {
  background-color: white !important;
  color: green !important;
  border: 1px solid green !important;
}

.botao-primary {
  background-color: white !important;
  color: #4169e1 !important;
  border: 1px solid #4169e1 !important;
}

.botao-perigo {
  background-color: white !important;
  color: red !important;
  border: 1px solid red !important;
}

.botao-info {
  background-color: white !important;
  color: #0dcaf0 !important;
  border: 1px solid #0dcaf0 !important;
}

.container {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.table-container {
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 40px;
}

